.body {
    background: #ffff;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.container--outer {
	margin: 25px auto;
	box-shadow: 0 0 0px rgba(50, 50, 50, .17);
}

.flex {
  padding-left: 1%;
  padding-right: 5%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.circular-img {
  position: relative;
  width: 260px;
  height: 300px;
  overflow: hidden;
  border-radius: 10%;
}

.container-twocolumn { display: flex; align-items: baseline;}
.column-2-1 { display: inline-block; width: 120px; white-space: normal; }
.column-2-2 { display: inline-block; width: 900px; white-space: normal; }

.row{ display: flex; clear: both; align-items: flex-start;}
.col-md {display: inline-block; width: 50%; padding-right: 50px; white-space: normal;}

.large-text{ font-size: 20px; font-weight: 1000;}
