<div class="flex-container">
  <div style="padding-bottom: 20px; padding-right: 50px">
    <img class = "circular-img" src="/img/portrait.jpg" alt="portrait">
  </div>

  <div style="padding: 0px">
    <h2>Dr. Xiaotian (Steven) Dai</h2>

    <p>
      [
        <a href="https://scholar.google.co.uk/citations?hl=en&user=G7dzNUkAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a> |
        <a href="https://www.researchgate.net/profile/Xiaotian_Dai" target="_blank">ResearchGate</a> |
        <a href="https://www.linkedin.com/in/xdai3/" target="_blank">LinkedIn</a> |
        <a href="https://twitter.com/stevenxdai" target="_blank">Twitter</a> |
        <a href="https://github.com/automaticdai" target="_blank">GitHub</a>
      ]
    </p>

    <p>Lecturer (~Assistant Professor)<br>
    Director of ReFLEX Lab<br>
    Real-Time and Distributed Systems Group<br>
    Department of Computer Science<br>
    University of York, UK
    </p>

    <p>
    Office: CSE/136<br>
    Email: xiaotian.dai (at) york.ac.uk
    </p>


  </div>


</div>
