<h1>Dr. Xiaotian Dai</h1>

<div class="flex-container">
  <div style="padding: 10px">
    <img class = "circular-img" src="/img/portrait.jpg" alt="portrait">
  </div>
  <div style="padding: 10px">
    <p>
    Research Associate<br>
    Real-Time Systems Research Group (RTSRG)<br>
    University of York<br>
    York, United Kingdom
    </p>
    <p>
    Address:<br>
    Room CSE/123<br>
    Department of Computer Science<br>
    University of York<br>
    York, United Kingdom
    </p>
    <p>Email: <br>
    xiaotian.dai (at) york.ac.uk</p>
  </div>
</div>
