<div class="flex-container">
  <div style="padding: 0px">
    <h2>Dr. Xiaotian (Steven) Dai</h2>

    <p>Lecturer (Assistant Professor)<br>
    Real-Time and Distributed Systems Research Group<br>
    Department of Computer Science<br>
    University of York, UK
    </p>

    <p>
    CSE/136<br>
    Department of Computer Science<br>
    University of York<br>
    York, United Kingdom, YO10 5GH<br>
    </p>

    <p>
    Email: xiaotian.dai (at) york.ac.uk
    </p>
  </div>

  <div style="padding: 20px; padding-left: 50px">
    <img class = "circular-img" src="/img/portrait.jpg" alt="portrait">
  </div>
</div>
